[submodule "src/steriogram"]
	path = src/steriogram
	url = https://bitbucket.org/ali-asadpoor/steriogram
[submodule "prerequisite"]
	path = prerequisite
	url = https://bitbucket.org/ali-asadpoor/prerequisite
